html{background-color:black}

.navLink{
    border: 5px solid gray;
    margin: auto;
    margin-bottom: 5px;
    text-align: center;
    width: 85%;
    background-color: rgba(169, 169, 169, 1);
    border-radius: 5px;
    height: 25px;
    line-height: 25px;
}
.navLink:hover{ background-color:lightgray; transform:scale(1.05);}
.navLink:active{ transform:scale(0.95);}

.cmdLink{
    border: 5px solid gray;
    margin: auto;
    margin-bottom: 5px;
    text-align: center;
    width: 85%;
    background-color: rgba(0, 0, 139, 1);
    border-radius: 5px;
    color: whitesmoke;
    height: 25px;
    line-height: 25px;
}
.cmdLink:hover{ background-color: blue; transform:scale(1.05);}
.cmdLink:active{ transform:scale(0.95);}

#entireContainerDiv{
	position: relative;
	background-color: darkslategrey;
	width: 1355px;
	height: 635px;
	/*text-align: center;*/
	margin: auto;
	overflow: hidden;
}
#topsidebar{
	position: absolute;
	top: 5px;
	left: 5px;
	width: 1345px;
	/* width: 100%; */
	height:50px;
	background-color:red;
	background-color: goldenrod;
	border:1px solid black;
	overflow: hidden;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

#bottomsidebar{
	position:absolute;
	top: 605px;
	left:5px;
	width: 1335px;
	height: 20px;
	background-color:blue;
	background-color: goldenrod;
	border:1px solid black;
	overflow: hidden;
	font-size: 18px;
	line-height: 20px;
	padding-left: 5px;
	padding-right: 5px;
}
	/* background-color: goldenrod; */
	/* background-color: rgba(186, 189, 185, 0.85); */
	/* background-color: rgba(184, 134, 11, 0.85); */
	/* background-color: rgba(1, 105, 105, 0.85); */
	/* background-color: rgba(14, 179, 144, 0.85); */

#sidebar_container{z-index:10;/* background-color: rgba(184, 25, 25, 0.9); */background-color: rgba(0,0,0,0.6);height: 570px;width: 510px;/* opacity: 0.5; */position: relative;top: 10px;left: 10px;margin: 0px;padding: 0px;/* border: 1px solid darkgray; */border-radius: 5px 5px 15px 15px;/* box-shadow: 10px 10px 15px 2px #787d25; */}
#sidebar_container:hover{z-index:20;opacity:1;/* background-color: yellow; *//* background-color: rgba(0,0,0,0.6); */ */box-shadow: 10px 10px 15px 2px #787d25; */box-shadow: 10px 10px 15px 2px #787d25;box-shadow: 5px 5px 15px 2px #2d7500;}
/*#leftsidebar:hover  	{z-index:20;opacity:1;background-color: rgba(0,0,0,0.75);}*/
/*#rightsidebar:hover 	{z-index:20;opacity:1;background-color: rgba(0,0,0,0.75);}*/

#leftsidebar{
	position:absolute;
	/* top: 25px; */
	left: 260px;
	width: 240px;
	/* height: 520px; */
	/* border: 1px solid darkgray; */
	/*z-index: 10;*/
	/* opacity: 0.85; */
	overflow: hidden;
	/* padding: 10px; */
	padding: 5px 10px 0px 5px;
	/* padding-right: 30px; */
	/* background-color: rgba(0,0,0,1); */
}
#leftsidebar .title{font-weight:bold;font-size: 18px;background-color:darkgoldenrod;text-align: center;border-radius: 5px;margin-bottom: 5px;border: 5px solid black;}
#leftsidebar .contents{
    margin-top: 15px;
}

#rightsidebar{
	position:absolute;
	/* top: 25px; */
	/* left: 260px; */
	width: 241px;
	height: 540px;
	/* border: 1px solid darkgray; */
	/*opacity: 0.85;*/
	/*z-index: 10;*/
	overflow: hidden;
	text-align: center;
	padding: 5px 10px 15px 5px;
	padding-right: 0px;
	/* background-color: rgba(0,0,0,0.1); */
	/* padding-bottom: 20px; */
}
#rightsidebar .title{font-weight:bold;font-size: 18px;background-color:darkgoldenrod;text-align: center;margin-bottom: 5px;border-radius: 5px;border: 5px solid black;}
#rightsidebar .contents{overflow-y:hidden;overflow-x:hidden;height: 525px;/* margin-bottom: 5px; */}
#rightsidebar .contents:hover{overflow-y:auto;}

#mainviewingarea{
	position:absolute;
	top: 60px;
	left: 5px;
	width: 1340px;
	height: 534px;
	/* background-color: rgba(186, 189, 185, 0.85); */
	/* background-color: rgba(184, 134, 11, 0.85); */
	/* background-color: rgba(1, 105, 105, 0.85); */
	/* background-color: rgba(14, 179, 144, 0.85); */
	background-color: rgba(218, 165, 32, 0.85);
	color: rgb(255, 222, 0);
	border: 4px solid black;
	z-index: 15;
	/*overflow: auto;*/
	font-size: 16px;
}

#mainviewingarea_top{
	width: 100%;
	/*border:1px solid black;*/
	margin:auto;
	margin-top: 5px;
}
#mainviewingarea_top td:nth-child(1){width: 8%;text-align: left;font-weight: bold;text-decoration: underline;}
#mainviewingarea_top td:nth-child(2){width: 26%;text-align: left;}
#mainviewingarea_top td:nth-child(3){width: 8%;text-align: left;font-weight: bold;text-decoration: underline;}
#mainviewingarea_top td:nth-child(4){width: 25%;text-align: left;}
#mainviewingarea_top td:nth-child(5){width: 8%;text-align: left;}
#mainviewingarea_top td:nth-child(6){width: 25%;text-align: left;}

#mainviewingarea .infoSection{width: 98%;margin:auto;background-color: rgba(16, 72, 9, 0.90);/* background-color: rgba(14, 179, 144, 0.9); */color:whitesmoke;margin-top: 16px;/* margin-bottom: 16px; */padding-bottom: 8px;border: 1px solid black;/* overflow-x:auto; */}
#mainviewingarea .infoSection .heading{font-size:24px;font-weight:bold;text-align:center;width:100%;margin:auto;background-color: rgba(14, 179, 144, 0.7);background-color: rgba(93, 41, 41, 0.4);color:whitesmoke;}
#mainviewingarea .infoSection .contents{ color:whitesmoke; }

#section_top_container{/* width: 1185px; */height: 1px;margin: auto;}
#section_top{/* position:absolute; *//* margin: auto; */}
#sections_container{margin-top:100px;overflow:auto;overflow-x: auto;height: 416px;}


.tattle_record_container {border: 1px solid gray;position:relative;height: 92px;width: 210px;background-color: rgb(113, 132, 236);/* margin: 0px; */border-radius: 10px;border-top-left-radius: 2px;border-top-right-radius: 2px;overflow: hidden;/* margin-right: 225px; */margin-top: 10px;}
.tattle_record_container:hover{transform:scale(1.05);}
.tattle_record_container:active{transform:scale(0.95);}

.tattle_record_container .color_bar 		{height:8px;background-color: blue;}
.tattle_record_container .delete_tattle 	{/* background-color: rgba(255, 0, 0, 0.57); */background-color: wheat;position:absolute;width: 38px;height: 38px;left:0px;background-image: url('trash-16.png');background-repeat: no-repeat;background-size: 100%;padding: 2px;border-bottom-right-radius: 5px;}
.tattle_record_container .brief_tattle_info {/* background-color:green; */position:absolute;width: 163px;height: 38px;left: 42px;padding: 0px 0px 0px 5px;text-align: left;}
.tattle_record_container .short_msg 		{/* background-color: mediumseagreen; */position:absolute;width: 212px;height: 38px;left:0px;top: 50px;overflow-y: hidden;padding: 2px;text-align: left;}

#statusbuttonswrapper_progressbar{
	background-image: url('ProgressBar.gif');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 260px;
	height: 15px;
	/* height: 92%; */
	top: 2px;
	right: 2px;
	background-color: darkgoldenrod;
	border-radius: 5px;
	border: 1px solid darkcyan;
	display:none;
	border-radius: 20px;
}
#statusbuttonswrapper_progressbar.show{ display:block;}


#mainviewingarea_X{position:absolute;background-color:red;width: 55px;height: 55px;right: 0px;top: 0px;border-radius: 15px;border: 3px solid black;text-align: center;line-height: 55px;font-size: 48px;font-weight: bold;color: black;}
#mainviewingarea_X:hover{cursor:pointer;background-color:crimson;transform: scale(1.15);}

#mainviewingarea.hide{ visibility:hidden; }

.infoSection .contents pre {white-space: pre-wrap;word-wrap: break-word;}

.hrSpacer{ margin: 15px 0px 10px 0px; }