* {
	box-sizing: border-box;
}

#header_logout {
	float: right;
	cursor: pointer;
	color: buttontext;
	padding: 1px 6px;
	border: 1px outset #767676;
	background-color: #efefef;
	border-radius: 4px;
	margin-left: 5px;
}

#header_user {
	float: right;
	cursor: pointer;
	color: buttontext;
	padding: 1px 6px;
	border: 1px outset #767676;
	background-color: #efefef;
	border-radius: 4px;
	margin-left: 5px;
	min-width: 150px;
	/* text-align:left; */
	/* text-align:center; */
}

html,
body {
	height: 100%;
}

body {
	background-color: slategray;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#header {
	border-bottom: 1px solid black;
	background-color: darkgray;
	padding: 5px;
}

#content {
	/* background-color:gray; */
	flex: 1 0 auto;
	background-color: lightgray;
	/* padding: 5px; */
	width: 1050px;
}

#footer {
	border-top: 1px solid black;
	flex-shrink: 0;
	background-color:
		darkgray;
	padding: 5px;
	width: 1050px;
	margin-bottom: 10px;
}


/*  */

/*  */

.borderBottom {
	border-bottom: 1px solid black;
}

.borderRight {
	border-right: 1px solid black;
}


/*  */

table.separated1 {
	background-color: lavenderblush;
	caption-side: top;
	color: black;
	border: 1px solid #111010;
	border-radius: 0px 0px 3px 3px;
	box-shadow: 4px 5px 4px 0px rgb(0 0 0 / 20%);
}

table.separated1 caption {
	font-weight: bold;
	text-decoration: underline;
	border-bottom: 1px dotted black;
	text-align: left;
	padding: 4px;
	background-color: rgb(92 146 184);
	background-color: blanchedalmond;
	color: black;
	border: 1px solid #111010;
	border-bottom: 0px;
	border-radius: 3px 3px 0px 0px;
	box-shadow: 4px 3px 5px 0px rgb(0 0 0 / 20%);
}

table.separated1 tr th,
table.separated1 tr td {
	padding: 4px;
}

table.separated1 table.metadata tr th,
table.separated1 table.metadata tr td {
	padding: 0px 5px 5px 0px;
	border: 0;
/* 	border: 1px solid black; */
	font-family: monospace;
	text-align: left;
}

table.separated1 table.metadata tr th {
	white-space: pre;
	width:25%;
}
table.separated1 table.metadata tr td {
	white-space: pre;
	width:75%;
}

.actionButton1 {
	height: 17px;
	border: 1px solid black;
	font-size: 1.0em;
	line-height: 1.0em;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #f0f0f0;
	font-family: monospace;
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	margin-left: 5px;
}

.actionButton1:hover {
	background-color: #79bceb;
}

.actionButton1:active {
	background-color: #45a6ea;
	cursor: wait;
}