#nav {
	padding: 5px;
}

#nav_tabs {
	border-bottom: 1px solid black;
	padding-bottom: 1px;
}

.nav_tab {
	display: inline-block;
	border: 1px solid black;
	min-width: 150px;
	text-align: left;
	height: 30px;
	padding: 2px 10px 0px 10px;
	position: relative;
	cursor:
		pointer;
	border-radius: 5px 5px 0px 0px;
	background-color: darkgrey;
	font-size: 20px;
}

.nav_tab.active {
	background-color: blanchedalmond;
}

.nav_view {
	display: none;
}

.nav_view.show {
	display: block;
}